.cuboTitulo{
  height: 15rem;
  background-image: url(./Galeria/Cabecera.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100rem;
}

.navbar{
  border: 2px solid  #f25287;
  background-color: #f7d9d9;
  color: #f25287;
  text-decoration: none;
}

/* Titulo del sitio web */
.titulo{
  font-family: garamond;
  color: #f25287;
  font-style:italic;
  font-size: 6.5rem;
}