/* CANBIOS GENERALES */

/* Reset todos los estilos predefinidos */
*{
  margin: 0%;
  padding: 0%;
}

html { /* etiqueta raíz */
  font-size: 62.5%;
}

/* Limpiar siguiente elemento */
.clearfix{clear:both;}

/* Fuente y color para toda la pagina */
body{
  font-family: garamond;
  color: #f25287;
  background-color: #f9f3f3;
  font-size: 2rem;
}



/* CAMBIOS PARA EL HEADER EN TODAS LAS PAGINAS*/

.tituloLogo{
  width: 100%;
  background-color: royalblue;
  text-align: justify;
}

.logo{
  display:inline-block;
  max-width: 10%;
}

/* Cambios para el titulo h1 */
header div h1{
  font-style:italic; 
  font-size: 5rem;
  display:inline-block;
  background-color: silver;
  text-align: center;
}

/* Para la barra de navegacion (color, fuente, tamaño) */
nav{
  background-color: #f7d9d9;
  font-size: x-large;
  border:solid;
  padding:1%;
}

/* Quitar los items "*" de listas */
nav ul {list-style-type: none;}

/* Mover lista a la derecha, separacion*/
nav ul li{
  display:inline-block;
  margin-left: 1.7%;
  position:relative;
}
  
/* Reglas para los links del menu navegable */
nav ul li a{text-decoration: none;color: #f25287;}

/* Agregar un efeco cuando el mouse este sobre el link */
nav ul li a:hover {background-color: #dddddd;}

.sublista{
  position:absolute;
  background-color: #f7d9d9;
  display:none;
}

.sublista li{
  display:block; 
  width: 24rem;
  margin-top: 5%; 
  font-size: 2.1rem;
}

nav ul li:hover ul{
  display:block;
}



/* Cambios para la barra de buscador */
.buscador1 {
  display: inline;
  font-family: garamond;
  border: none;
  margin-left: 25%;
}

/* Cambios para el boton buscador */
.buscador2 {
  font-family: garamond;
  border: none;
}


/* CAMBIOS PARA EL MAIN EN INDEX.HTML*/

/* Intentar cambiar el alineamiento de los articles en el index.html(tipo zig-zag) */
section{margin-top:2%;}
.seccion_a{
  width: 100%;
  margin-bottom:50px;
  font-size: 18px;
}

.seccion_b{
  width: 100%;
  margin-bottom:50px;
  font-size: 18px;
  text-align: right;
}

/* Estilo para las imagenes del index.html */
.fotoservicioA{
  margin-left: 1%;
  border-radius: 5px;
  max-width:50%;
}

.fotoservicioB{
  margin-right: 1%;
  border-radius: 5px;
  max-width:50%;
}




/* ESTILO PARA EL FOOTER EN TODAS LAS PAGINAS*/

/* Estilo general del Footer */
footer{
  padding: 1%;
  border-style:double;
  padding-left: 5mm;
  font-size: 20px;
}

footer div p{
  display:inline-block;
  margin-top: 1%;
  margin-bottom: 5%;
  text-align: right;

}

footer h5{
  display:inline;
  margin-left:60%;
  text-align: right;
}

.footerLogo{
  margin-top: 15%;
}

/* Quitar el resize del textarea en Contacto.html */
textarea {
  resize: none;
}

