/* CANBIOS GENERALES */

/* Reset todos los estilos predefinidos */
*{
  margin: 0%;
  padding: 0%;
}

html { /* etiqueta raíz */
  font-size: 62.5%;
}

/* Limpiar siguiente elemento */
.clearfix{clear:both;}

/* Fuente y color para toda la pagina */
body{
  font-family: garamond;
  color: #f25287;
  background-color: #f9f3f3;
  font-size: 15px;
}



/* CAMBIOS PARA EL HEADER EN TODAS LAS PAGINAS*/

/* Cambios para el titulo h1 */
h1{
  font-style:italic; 
  font-size: 75px;
  width:250%;
  padding-top:36px;
  text-align: center;
}

/* Mover a la derecha los items de la barra */
header ul li{float:left; list-style-type:none;}

/* Para la barra de navegacion (color, fuente, tamaño) */
nav{
  background-color: #f7d9d9;
  list-style-type: none;
  font-size: x-large;
  border:solid;
  padding:1%;
}

/* Quitar los items "*" de listas */
nav ul {list-style-type: none;}

/* Mover lista a la derecha, separacion*/
nav ul li{; float:left; margin-left:5%;}

/* Reglas para los links del menu navegable */
nav ul li a{text-decoration: none;color: #f25287;}

/* Agregar un efeco cuando el mouse este sobre el link */
nav ul li a:hover {background-color: #dddddd;}

/* Cambios para la barra de buscador */
.buscador1 {
  font-family: garamond;
  border: none;
  margin-left: 25%;
}

/* Cambios para el boton buscador */
.buscador2 {
  font-family: garamond;
  border: none;
}


/* CAMBIOS PARA EL MAIN EN INDEX.HTML*/

/* Intentar cambiar el alineamiento de los articles en el index.html(tipo zig-zag) */
section{margin-top:2%;}
.seccion_a{
  width: 100%;
  margin-bottom:50px;
  font-size: 18px;
}

.seccion_b{
  width: 100%;
  margin-bottom:50px;
  font-size: 18px;
  text-align: right;
}

/* Estilo para las imagenes del index.html */
.fotoservicioA{
  margin-left: 1%;
  border-radius: 5px;
  max-width:50%;
}

.fotoservicioB{
  margin-right: 1%;
  border-radius: 5px;
  max-width:50%;
}




/* ESTILO PARA EL FOOTER EN TODAS LAS PAGINAS*/

/* Estilo general del Footer */
footer{
  padding: 1%;
  border-style:double;
  padding-left: 5mm;
  font-size: 20px;
}

footer div p{
  display:inline-block;
  margin-top: 1%;
  margin-bottom: 5%;
  text-align: right;

}

footer h5{
  display:inline;
  margin-left:60%;
  text-align: right;
}

.footerLogo{
  margin-top: 15%;
}

/* Quitar el resize del textarea en Contacto.html */
textarea {
  resize: none;
}

