/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */

/* Centralizar el MODAL en galeria.html */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  