/* ESTILOS GENERALES PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */

/* Fuente de la pagina */

main{
    margin-bottom: $fuente-tama*2;
    color: $color-letras;
    font-family: $fuente-tipo;
  }
  
  /* Estilo para imagenes */
  .bordeImagen{border-radius: 5px; max-width: 100%; border: 2px solid $color-letras;transition: transform 0.5s;}
  
  .bordeImagen:hover{transform: scale(1.01,1.01);}  /* Transformacion de escala*/