/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */
/* Se utilizan @media para realizar el responsive en tamaños de celular mas chicos */

// Estilo general del footer
footer {
  font-family: $fuente-tipo;
  color: $color-letras;
  background-color: $color-fondo;
}

// Estilo de la lista de info en el footer
.footer__lista--info {
  padding: 0%;
  list-style-type: none;
  margin-bottom: $fuente-tama * 5;
  font-size: $fuente-tama * 1.5;
}

// Tamaño de los logos de red social
.footer__logo--size {
  max-width: 3%;
  &:hover{
    transform: scale(1.05, 1.05);
    opacity: 0.8;
  }
}

// Responsive para diferentes tipos de tamaño de dispositivos
@media (max-width: 1400px) {
  .footer__logo--size {
    max-width:5%;
  }
}

@media (max-width: 992px) {
  .footer__logo--size {
    max-width: 7%;
  }
}

@media (max-width: 576px) {
  .footer{
    &__redes--titulo {
      font-size: $fuente-tama * 1;
    }

    &__lista--info {
      margin-bottom: $fuente-tama * 3;
      font-size: $fuente-tama * 1.2;
    }

    &__logo--size {
      max-width: 8.5%;
    }
  }
}

@media (max-width: 380px) {
  .footer{
    &__redes--titulo {
      font-size: $fuente-tama * 1.1;
    }

    &__lista--info {
      margin-bottom: $fuente-tama * 3;
      font-size: $fuente-tama * 1;
    }

    &__logo--size {
      max-width: 12%;
    }
  }
}

@media (max-width: 320px) {
  .footer{
    &__redes--titulo {
      font-size: $fuente-tama * 1;
    }

    &__lista--info {
      margin-bottom: $fuente-tama * 3;
    }

    &__logo--size {
      max-width: 14%;
    }
  }
}

@media (max-width: 280px) {
  .footer{
    &__redes--titulo {
      font-size: $fuente-tama * 0.9;
    }

    &__lista--info {
      margin-bottom: $fuente-tama * 3;
      font-size: $fuente-tama * 1;
    }

    &__logo--size {
      max-width: 14%;
    }
  }
}
