/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */

/* Titulo del sitio web */
.titulo{
    font-family: $fuente-tipo;
    color: $color-letras;
    font-style:italic;
    font-size: $fuente-tama*6.5;
  }
  @media (max-width:768px){
    .titulo{
      font-family: $fuente-tipo;
      color: $color-letras;
      font-style:italic;
      font-size: $fuente-tama*4.5;
    }
  }
  
  /* Estilos para la imagen de fondo en el titulo */
  .cuboTitulo{
    height: $fuente-tama*15;
    background-image: url(../Galeria/Cabecera.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: $fuente-tama*100;
  }
  
  /* Estilos para el nav hecho con BOOSTRAP */
  .header__navbar--estilo{
    border: 2px solid  $color-letras;
    background-color: $color-nav;
    color: $color-letras;
  }
  
  .nav-link:hover{
    background-color:$color-fondo;
  }
  
 
  
  