// VARIABLES PARA EL CSS

// COLORES
$color-letras: #f25287;
$color-nav: #f7d9d9;
$color-fondo: #f9f3f3;
$color-blanco: white;
$color-gris: #dddddd;

// FUENTES
$fuente-tipo: "EB Garamond", serif;
$fuente-tama: 1rem;
