footer{
  font-family: garamond;
  color: $color-letras;
  background-color: $color-fondo;
}

.footer__lista--info{list-style-type:none; margin-bottom: $fuente-tama*5;}


.footer__logo--size{width: 10%;}

@media (max-width:1400px){
  .footer__logo--size{width: 15%;}
}

@media (max-width:992px){
  .footer__logo--size{width: 7.5%;}
}

@media (max-width:576px){
  .footer__logo--size{width: 10%;}
}
