/* UTILIZACION DE GRIDS PARA ACOMODAR IMAGENES Y TEXTO DEL MAIN */

/* Para centralizar */
main{ padding: 2%;}

/* Estilo del subtitlo */
h3{font-size: 5rem; margin-bottom: 5rem;text-align: center;}

/*grid para las imagenes de carpetas(o talvez links a futuro) */
.grilla{
  max-width: 1850px;
  display:grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5rem;
}

/* Mover los elementos izquierdos de la grilla a su limite derecho */
.grilla__carpetaIzquierda{
  max-width: 70%;
  justify-self: end;
}
/* Mover los elementos derechos de la grilla a su limite izquierdo */
.grilla__carpetaDerecha{
  max-width: 70%;
  justify-self: start;
}

/* Centralizar textos */
.grilla__carpeta--texto{ text-align: center;}

/* Tamaño de imagenes maximo al espacio de su DIV */
.main__section--cuadro{max-width: 100%; border:1px solid;transition: transform 1s;}

/* Transformacion para cambiar escala de imagen */
.main__section--cuadro:hover{max-width: 100%; border:1px solid; transform: scale(1.03,1.03);}
