/* CAMBIOS PARA EL MAIN EN INDEX.HTML*/

/* Intentar cambiar el alineamiento de los articles en el index.html(tipo zig-zag) */

main{
  padding:2%;
}

h3{
  font-size: 5rem;
  margin-bottom: 3%;
}

.presentacion{
  font-size: 3.6rem;
  text-align: justify;
}


.seccion_a{
  width: 100%;
  margin-top: 10%;
  font-size: 2.5rem;
  display: inline-block;
}

.seccion_b{
  width: 100%;
  margin-bottom:3%;
  font-size: 2.5rem;
  margin-right: 2%;
  text-align: right;
  
}

/* Estilo para las imagenes del index.html */
.fotoservicioA{
  border-radius: 5px;
  max-width:50%;
  display: inline;
}

.fotoservicioB{
  border-radius: 5px;
  max-width:50%;
  display: inline;
}