/* CAMBIOS PARA EL MAIN EN INDEX.HTML*/

/* UTILIZACION DE FLEXBOX PARA ACOMODAR IMAGENES Y TEXTO DEL MAIN. SE UTILIZA A MODO DE PRACTICA DE FLEXBOX, PROBABLEMENTE LUEGO LO CAMBIE A UN GRID*/

/* Centralizar el main */
main{padding:2%;}

/* Tamaño del subtitlo */
h3{font-size: 5rem; margin-bottom: 3%;}

/* Declaracion del mainSection como contenedor flexible en columna */
.mainSection{
  max-width: 1850px;
  height:3400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Estilo del primer parrafo */
.presentacion{font-size: 3.6rem; text-align: justify;margin-bottom: 5rem;}

/* Los articles-a se vuelven a declarar como otro contendor flexible interno pero en filas */
.mainSection__article-a{
  height:23%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Cuando se achica la pantalla, el texto pasa a estar abajo de la imagen correspondiente*/
  justify-content: space-evenly;
  align-items: center;
}

/* Los articles-b se vuelven a declarar como otro contendor flexible interno pero en filas */
.mainSection__article-b{
  height:23%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse; /* Cuando se achica la pantalla, la imagen pasa a estar por encima de su texto correspondiente*/
  justify-content: space-evenly;
  align-items: center;
}

/* Estilo para las imagene izquierda del index.html */
.mainSection__article-a--fotoA{border-radius: 5px; max-width: 100%; border: solid #f25287;}

/* Dimensionar texto derecho */
.mainSection__article-a--textoA{flex-basis:40%; font-size:4rem;}

/* Estilo para las imagene derecha del index.html */
.mainSection__article-b--fotoB{border-radius: 5px;max-width:100%; border: solid #f25287;}

/* Dimensionar texto izquierdo */
.mainSection__article-b--textoB {flex-basis:40%;font-size:4rem; order:-1;} /* Se usa "order:-1" para cambiar de posicion textoe imagen */


