/*CAMBIOS GENERALES PARA TODOS LOS HTMLS: INCLUYE PALETA DE COLORES Y ESTILOS DE HEADER Y FOOTER */

/* Reset todos los estilos predefinidos */
*{
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
}

/* Limpiar siguiente elemento */
.clearfix{clear:both;}

/* Fuente y color para toda la pagina */
body{
  max-width: 1900px;
  font-size: 2.5rem;
  font-family: garamond;
  color: #f25287;
  background-color: #f9f3f3;
}



/* CAMBIOS PARA EL HEADER EN TODAS LAS PAGINAS*/

/* Tamaño del encabezado */
.encabezado{
  max-width: 100%;
  height: 2%;
}

/* Tamaños de contenedor para titulo y logo (Poner alguna imagen de fondo a futuro */
.tituloyLogo{
  width: 100%;
  height: 100%;
  background-image: url(../Galeria/Cabecera.jpg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: right;
}

/* Tamaño del logo */
.logo{
  display:inline-block;
  max-width: 15%;
}

/* Estilo titulo h1 */
h1{
  font-style:italic; 
  display:inline-block;
  font-size: 9.8rem;
  position:relative;
  bottom:10%;
  left:18%;
}

/* Para la barra de navegacion (color, fuente, tamaño) */
nav{
  background-color: #f7d9d9;
  font-size: xx-large;
  border:solid;
  width: 100%;
}

/* Quitar los items "*" de listas */
nav ul {list-style-type: none;}

/* Mover lista a la derecha, separacion*/
nav ul li{
  display:inline-block;
  margin-left: 4%;
  position:relative;
  left:1%;
}
  
/* Estilo links del menu navegable */
nav ul li a{text-decoration: none;color: #f25287;}

/* Oculta la sub-lista en el header, en la parte de "Nuestros servicios" */
.sublista{
  position:absolute;
  background-color: #f7d9d9;
  display:none;
  border-left:solid ;
  border-bottom:solid;
  border-right:solid;
  border-width: medium;
  padding: 2%;
}

/* Estilo de la sub-lista.*/
.sublista li{ 
  width: 20rem;
  margin-top: 5%; 
  font-size: 2.5rem;
}

/* Despliega la sub-lista cuando el cursor la seleccion.  Se despliega en vertical  */
nav ul li:hover ul{
  display:block;
}


/* Cambios para la barra de buscador */
.buscador1 {
  display: inline;
  font-family: garamond;
  font-size: large;
  border: none;
  position: relative;
  left:170% ;
}


/* ESTILO PARA EL FOOTER EN TODAS LAS PAGINAS*/

/* Grid del footer */
footer{
  max-width: 100%;
  height: 25rem;
  background-color: #f7d9d9;
  padding: 3rem;
  border: 1px solid;
  display:grid;
  grid-template-areas:
    "contacto . redes"
    "contacto . redes"
    "autor . redes";
  grid-template-columns:2fr 2fr 1fr;
  grid-template-rows:1fr 4fr 1fr;
  justify-content:center;
  justify-items:center;
  align-items: start;
  }

/* Area de la info de contacto */
.footer__div-info{ grid-area:contacto;font-size: 2.2rem;}

/* Espaciado de lista en la info de contacto */
.footer__div--ul{margin-top: 1rem; margin-left: 3rem ;}


/* Area de redes sociales */
.footer__div-redes{
  grid-area: redes;
  max-width: 100%;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Titulo del area de redes sociales */
.footer__h5{
  margin-bottom: 3rem ;
  max-width: 100%;
}

/* Logos en redes sociales */
.footerLogo{
  max-width: 20%;
}

/* Area de autor de la pagina */
.footer__div-autor{
  grid-area: autor;
}