/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */
  

.mainSection__info{
  // Estilo en la lista de informacion de contacto
  &--estilo{
    font-weight: bold;
    list-style-type: circle;
  }

   /* Logos de redes sociales */
   &--logo{
    max-width: 7%;
  }
}

.form{
  /* Tamaño de letra en los text input */
  &__textInput--size{
    max-width: 100%;
    height: 50px;
  }
    
  /* Color de letra textarea */
  &__textArea--color{
    color: grey;
  }
}
  
  /* Borde del formulario */
  .article__form--border{
    border: 1px solid grey;
  }
  

  @media (max-width:992px){
    .main__tituloContacto--tamaño{
      font-size: $fuente-tama*3.5;
    }
  }
  
  @media (max-width:768px){
    .main__tituloContacto--tamaño{
      font-size: $fuente-tama*2.5;
    }
  }
  
  @media (max-width:480px){
    .main__tituloContacto--tamaño{
      font-size: $fuente-tama*2.1;
    }
  }
  
  @media (max-width:380px){
    .mainSection__info--estilo{
      font-size: $fuente-tama*1;
    }
  }
  
  @media (max-width:320px){
    .mainSection__info--estilo{
      font-size: $fuente-tama*1;
    }
  }

  @media (max-width:280px){
    .main__tituloContacto--tamaño{
      font-size: $fuente-tama*1;
    }
    .mainSection__info--estilo{
      font-size: $fuente-tama*0.8;
    }
  }
    
  /* Animacion para el cuadro de publicidad (es a modo de prueba para el entregable) */
// .publicidadMolesta{
//   animation-name: animaPublicidad;
//   animation-iteration-count: 1;
//   animation-timing-function:linear;
//   animation-fill-mode: forwards;
//   animation-duration:5s;
//   animation-delay:0s;
  
// }

// /* Animacion a realizar */
// @keyframes animaPublicidad{
//   0%{transform:translateX(-100%);}
//   20%{transform:translateX(0%); transform: rotateZ(50deg);}
//   40%{transform:translateY(-300%);}
//   70%{transform:translateY(0%);transform:rotateZ(-50deg);}
//   100%{transform:translateY(-300%);}
// }