/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */

/* Centralizar el MODAL en galeria.html */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  /* Estilo para imagenes del index*/
  .galeriaImagen{
    @extend .indexImagen;
    border: 1px solid $color-letras;
  }

  .galeriaImagen:hover{
    @extend .indexImagen:hover;
  }
  
  