/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */

.index__main--bienvenida{
  margin-bottom: $fuente-tama*5;
}

.main__tituloIndex--tamaño{
  font-size: $fuente-tama*3;
  text-align: center;
  margin-bottom: $fuente-tama*3;
}

  /* Estilo para imagenes del index*/
  .indexImagen{border-radius: 5px; max-width: 100%; border: 2px solid $color-letras;transition: transform 0.5s;}
  
  .indexImagen:hover{transform: scale(1.01,1.01);}  /* Transformacion de escala*/

  .boton__flecha--estilo{
    display: flex;
    justify-content: center;
    align-items: center;
    top:calc(100vh - 100px);
    left: calc(100vw - 100px);
    height: 60px;
    width: 60px;
    background-color: $color-nav;
    position: sticky;
    border-radius: 100px;
    opacity: 0.5;
    transition: 0.3s opacity;
    z-index: 2;
  }

  .boton__flecha--estilo:hover{
    opacity:1;
  }

  .flecha--arriba{
    max-width: 100%;
    transform: rotate(90deg);
    margin-bottom: 3px;
    filter: invert(44%) sepia(58%) saturate(2141%) hue-rotate(312deg) brightness(100%) contrast(91%);
  }
  
 
  
  @media (max-width: 1024px){
    .cuadro{
      top:calc(100vh - 100px);
      left:calc(100vw - 100px);
    }
  
    .cuadro:active{
      opacity:1;
    }
  }

@media (max-width:992px){
  .main__tituloIndex--tamaño{
    font-size: $fuente-tama*3.5;
  }
}

@media (max-width:768px){
  .main__tituloIndex--tamaño{
    font-size: $fuente-tama*2.5;
  }
}

@media (max-width:480px){
  .main__tituloIndex--tamaño{
    font-size: $fuente-tama*2.1;
  }
}

@media (max-width:380px){
  .main__tituloIndex--tamaño{
    font-size: $fuente-tama*1.9;
  }
}

@media (max-width:300px){
  .main__tituloIndex--tamaño{
    font-size: $fuente-tama*1.7;
  }
}