/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */


/* Estilo de las fotos del aside */
.aside--img__cara{
  border: 1px solid $color-gris;
  border-radius: 200px;
}

// Tamaño de logo en lista de info de la persona
.mainAside__div--redes{max-width:30%;}

/* Quitar puntos de las listas */
.mainAside__persona--lista{list-style-type: none;}

/* Espaciado entre items de lista */
.mainAside__persona--lista li{ margin-bottom:$fuente-tama;}

// Imagen del establecimiento
.article__imagenLugar--tamaño{
  max-width: 80%;
}

.QuieneSomosImagen{
  @extend .indexImagen;
  border: 1px solid $color-letras;

}

// Media para dispositivos chicos

@media (max-width:1024px){
  // Tamaño de logo en lista de info de la persona
  .mainAside__div--redes{max-width:15%;}
  // Imagen del establecimiento
  .article__imagenLugar--tamaño{
    max-width: 100%;
  }
}

@media (max-width:768px){
  // Tamaño de logo en lista de info de la persona
.mainAside__div--redes{max-width:15%;}
}

@media (max-width:480px){
  // Tamaño de logo en lista de info de la persona
.mainAside__div--redes{max-width:15%;}

}

@media (max-width:280px){
  /* Espaciado entre items de lista */
.mainAside__persona--lista li{ font-size: $fuente-tama*1;}

// Imagen del establecimiento
.article__imagenLugar--tamaño{
  max-width: 100%;
}
}

