/* Estilo para la lista en el submenu */
.submenu {
  list-style: none;

  &__indices--estilo {
    text-decoration: none;
    color: $color-letras;
    font-size: $fuente-tama * 1.75;
    transition: 0.3s background-color;
    &:hover {
      text-decoration: underline;
      background-color: $color-fondo;
      color: $color-letras;
    }
  }
}

// Estilo de imagenes
.servicios__imagen--estilo {
  @extend .indexImagen;
  border: 1px solid $color-letras;
}

// Estilos para la barra que se despliega automaticamente para las categorias
.button__Servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fuente-tama * 1.5;
  border: 2px solid $color-letras;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: $color-nav; /* Set a background color */
  color: $color-letras; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  animation-name: aparecer;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;

  &:hover {
    color: $color-letras;
    border: 2px solid $color-letras;
  }

  &:enabled {
    color: $color-letras;
    border: 2px solid $color-letras;
  }
}

// Estilo para el contedor del menu que se despliega, permite que se mantenga visible
.container__categorias--estilo {
  position: sticky;
  top: 0px;
  z-index: 99;
}

// Estilo para el submenu que se abre con el offcanvas
.offcanvas__body--estilo {
  background-color: $color-fondo;
  @extend main;
}

// Media Queries para el responsive
@media (max-width: 600px) {
  .offcanvas__body--estilo {
    height: 70vh;
    width: 65vw;
  }

  .submenu__indices--estilo {
    font-size: $fuente-tama * 1.5;
  }
}

@media (max-width: 375px) {
  .offcanvas__body--estilo {
    height: 60vh;
    width: 100vw;
  }

  .submenu__indices--estilo {
    font-size: $fuente-tama * 1.3;
  }
}

@media (max-height: 375px) {
  .offcanvas__body--estilo {
    height: 100vh;
    width: 50vw;
  }
  .submenu {
    &__indices--estilo {
      font-size: $fuente-tama * 1.5;
    }
    &__lista--estilo {
      margin-bottom: 30px;
    }
  }
}

// Animacion para el boton del offcanvas
@keyframes aparecer {
  0% {
    transform: translate(0px, -50px);
    opacity: 0;
  }
  100% {
    height: 40px;
  }
}
