/* Estilo para la lista en el submenu */
.submenu__estilo{
    list-style: none; 

    &--indices
    {
      text-decoration: none;
      color: $color-letras;
      font-size: $fuente-tama*1.75;
      transition: 0.3s background-color;

      &:hover
      {
        text-decoration: underline;
        background-color:$color-fondo;
        color: $color-letras;

      }
    }
  }
  
  
.servicios__imagen--estilo{
  @extend .indexImagen;
  border: 1px solid $color-letras;
}
  
.button__Servicios{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fuente-tama*1.5;
  border: 2px solid $color-letras;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: $color-nav; /* Set a background color */
  color: $color-letras; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  transition: 0.3s opacity;

  &:hover{
    color: $color-letras;
    border: 2px solid $color-letras;
  }

  &:enabled{
    color: $color-letras;
    border: 2px solid $color-letras;
  }
}


.container__categorias--estilo{
  position: sticky;
  top: 0px;
  z-index: 99;
}

.offcanvas__body--estilo{
  background-color: $color-fondo;
  @extend main ;
}

@media (max-width:600px){
  .offcanvas__body--estilo{
    height: 50vh;
    width: 65vw;
  }

  .submenu__estilo--indices{
    font-size: $fuente-tama*1.5;
  }
}

@media (max-width:375px){
  .offcanvas__body--estilo{
    height: 60vh;
    width: 100vw;
  }

  .submenu__estilo--indices{
    font-size: $fuente-tama*1.5;
  }
}