/* ESTILOS GENERALES PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */

/* Fuente de la pagina */

main{
  margin-bottom: 2rem;
}

.colorFuente{
  color: #f25287;
  font-family: garamond;
}

/* Estilo para imagenes */
.bordeImagen{border-radius: 5px; max-width: 100%; border: 2px solid #f25287;transition: transform 0.5s;}

.bordeImagen:hover{transform: scale(1.01,1.01);}  /* Transformacion de escala*/