/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */

/* Tamaño de la pagina */
body{
  height: 1250px;
}

/* Tamaño de letra */
.form__item--size{
  max-width: 100%;
  height: 50px;
  
}

/* Anular resize del textarea */
textarea {
  resize: none;
}

/* Color de letra textarea */
.article__form--textarea{
  color: grey;
}

/* Logos de redes sociales */
.section__article--fotoRedS{
  max-width: 8%;
  font-size: 1rem;
}

/* Borde del formulario */
.article__form--border{
  border: 1px solid grey;
}
