@charset "UTF-8";
/* ESTILOS GENERALES PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */
/* Fuente de la pagina */
main {
  margin-bottom: 2rem;
  color: #f25287;
  font-family: garamond; }

/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */
/* Titulo del sitio web */
.titulo {
  font-family: garamond;
  color: #f25287;
  font-style: italic;
  font-size: 6.5rem; }

/* Estilos para la imagen de fondo en el titulo */
.cuboTitulo {
  height: 15rem;
  background-image: url(../Galeria/Cabecera.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100rem; }

/* Estilos para el nav hecho con BOOSTRAP */
.header__navbar--estilo {
  border: 2px solid #f25287;
  background-color: #f7d9d9;
  color: #f25287; }

.nav-link:hover {
  background-color: #f9f3f3; }

@media (max-width: 1200px) {
  .titulo {
    font-family: garamond;
    color: #f25287;
    font-style: italic;
    font-size: 4.5rem; }
  /* Estilos para la imagen de fondo en el titulo */
  .cuboTitulo {
    height: 12rem;
    background-image: url(../Galeria/Cabecera.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80rem; } }

@media (max-width: 768px) {
  .titulo {
    font-family: garamond;
    color: #f25287;
    font-style: italic;
    font-size: 4.5rem; }
  /* Estilos para la imagen de fondo en el titulo */
  .cuboTitulo {
    height: 12rem;
    background-image: url(../Galeria/Cabecera.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 75rem; } }

@media (max-width: 768px) {
  .titulo {
    font-family: garamond;
    color: #f25287;
    font-style: italic;
    font-size: 4.5rem; }
  /* Estilos para la imagen de fondo en el titulo */
  .cuboTitulo {
    height: 12rem;
    background-image: url(../Galeria/Cabecera.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 75rem; } }

@media (max-width: 600px) {
  .titulo {
    font-family: garamond;
    color: #f25287;
    font-style: italic;
    font-size: 3.5rem; }
  /* Estilos para la imagen de fondo en el titulo */
  .cuboTitulo {
    height: 9.5rem;
    background-image: url(../Galeria/Cabecera.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60rem; } }

@media (max-width: 480px) {
  .titulo {
    font-family: garamond;
    color: #f25287;
    font-style: italic;
    font-size: 3.5rem; }
  /* Estilos para la imagen de fondo en el titulo */
  .cuboTitulo {
    height: 8rem;
    background-image: url(../Galeria/Cabecera.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 55rem; } }

@media (max-width: 380px) {
  .titulo {
    font-family: garamond;
    color: #f25287;
    font-style: italic;
    font-size: 2.9rem;
    align-self: flex-end; }
  /* Estilos para la imagen de fondo en el titulo */
  .cuboTitulo {
    height: 8rem;
    background-image: url(../Galeria/Cabecera.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50rem; } }

@media (max-width: 300px) {
  .titulo {
    font-family: garamond;
    color: #f25287;
    font-style: italic;
    font-size: 2.5rem;
    align-self: flex-end; }
  /* Estilos para la imagen de fondo en el titulo */
  .cuboTitulo {
    height: 7.2rem;
    background-image: url(../Galeria/Cabecera.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45rem; } }

/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */
/* Se utilizan @media para realizar el responsive en tamaños de celular mas chicos */
footer {
  font-family: garamond;
  color: #f25287;
  background-color: #f9f3f3; }

.footer__lista--info {
  list-style-type: none;
  margin-bottom: 5rem; }

.footer__logo--size {
  width: 10%; }

@media (max-width: 1400px) {
  .footer__logo--size {
    width: 15%; } }

@media (max-width: 992px) {
  .footer__logo--size {
    width: 7.5%; } }

@media (max-width: 576px) {
  .footer__logo--size {
    width: 10%; } }

@media (max-width: 380px) {
  h5 {
    font-size: 1.1rem; }
  .footer__lista--info {
    margin-bottom: 3rem;
    font-size: 1.1rem; } }

@media (max-width: 320px) {
  .footer__redes--titulo {
    font-size: 0.9rem; }
  .footer__lista--info {
    margin-bottom: 3rem;
    font-size: 0.9rem; } }

@media (max-width: 280px) {
  .footer__redes--titulo {
    font-size: 0.8rem; }
  .footer__lista--info {
    margin-bottom: 3rem;
    font-size: 0.8rem; } }

/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */
.index__main--bienvenida {
  margin-bottom: 5rem; }

.main__tituloIndex--tamaño {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem; }

/* Estilo para imagenes del index*/
.indexImagen, .servicios__imagen--estilo, .galeriaImagen {
  border-radius: 5px;
  max-width: 100%;
  border: 2px solid #f25287;
  transition: transform 0.5s; }

.indexImagen:hover, .servicios__imagen--estilo:hover, .galeriaImagen:hover {
  transform: scale(1.01, 1.01); }

/* Transformacion de escala*/
@media (max-width: 992px) {
  .main__tituloIndex--tamaño {
    font-size: 3.5rem; } }

@media (max-width: 768px) {
  .main__tituloIndex--tamaño {
    font-size: 2.5rem; } }

@media (max-width: 480px) {
  .main__tituloIndex--tamaño {
    font-size: 2.1rem; } }

@media (max-width: 380px) {
  .main__tituloIndex--tamaño {
    font-size: 1.9rem; } }

@media (max-width: 300px) {
  .main__tituloIndex--tamaño {
    font-size: 1.7rem; } }

/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */
/* Estilo de las fotos del aside */
.aside--img__cara {
  border: 1px solid #dddddd;
  border-radius: 200px; }

.mainAside__div--redes {
  max-width: 30%; }

/* Quitar puntos de las listas */
.mainAside__persona--lista {
  list-style-type: none; }

/* Espaciado entre items de lista */
.mainAside__persona--lista li {
  margin-bottom: 1rem; }

.article__imagenLugar--tamaño {
  max-width: 70%; }

@media (max-width: 480px) {
  .mainAside__div--redes {
    max-width: 15%; } }

/* Estilo para la lista en el submenu */
.submenu__estilo {
  list-style: none;
  text-align: center;
  background-color: #f7d9d9;
  border: 1px solid; }

.submenu__estilo--indices {
  text-decoration: none;
  color: #f25287;
  transition: 0.3s background-color; }

.submenu__estilo--indices:hover {
  text-decoration: none;
  background-color: #f9f3f3;
  color: #f25287; }

.servicios__imagen--estilo {
  border: 1px solid #f25287; }

/* ESTILOS PARA ADAPTAR EL FRAMEWORK DE BOOTSTRAP EN ESTA SECCION */
/* Centralizar el MODAL en galeria.html */
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

/* Estilo para imagenes del index*/
.galeriaImagen {
  border: 1px solid #f25287; }

/* UTILIZACION DE GRIDS AREAS PARA ACOMODAR EL FORMULARIO Y LA INFO DE CONTACTO*/
/* FALTA AGREGAR IMAGENES A LOS LATERALES DEL MAIN (COMPLETAR LOS PUNTOS DE LA GRID) */
/* Grid general utilizando grid-area */
.grilla {
  max-width: 1900px;
  height: 1000px;
  display: grid;
  grid-template-areas: "anuncio subtitulo subtitulo ." "anuncio info formulario ." ".  .  .  .";
  grid-template-rows: 3fr 5fr 1fr;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem; }

/* Estilos para el subtitulo principal */
.contacto__titulo {
  grid-area: subtitulo;
  font-size: 3rem;
  max-width: 100%;
  text-align: center; }

/* Informacion de contacto, en esta pagina reemplaza la info del footer */
#infoContacto {
  grid-area: info;
  padding: 3%;
  justify-self: center;
  align-self: center; }

/* Estilos de la lista de #infoContacto. Se utiliza flexbox interno al grid */
.mainSection__article--info {
  height: 25rem;
  list-style-type: circle;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between; }

/* Tamaño de los logos de red social*/
.mainSection__article--logo {
  max-width: 10%; }

/* Estilo de tamaño y borde para el formulario a completar */
#formulario {
  grid-area: formulario;
  width: 100%; }

/* Espaciar el formulario completo dentro de su casilla del grid */
.mainSection__formulario--item {
  margin: 3rem; }

/* Expandir las barras de completar informacion */
.mainSection__articleForm--div {
  width: 60%;
  height: 3rem;
  font-size: 2.5rem;
  font-family: garamond; }

/* Centralizar la leyenda del form  */
.form__fieldset {
  text-align: center;
  border: 1px solid #dddddd; }

/* Quitar el resize del textarea y expandir */
textarea {
  width: 60%;
  height: 30rem;
  font-size: 2.5rem;
  font-family: garamond;
  resize: none; }

/* Estilo de boton para enviar la consulta */
.mainSection__articleForm--boton {
  width: 20%;
  height: 3rem;
  margin-bottom: 1.5rem; }

/* Animacion para el cuadro de publicidad (es a modo de prueba para el entregable) */
.publicidadMolesta {
  grid-area: anuncio;
  justify-self: start;
  background-color: #f7d9d9;
  border: 2px solid;
  text-align: center;
  animation-name: animaPublicidad;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-delay: 0s; }

/* Animacion a realizar */
@keyframes animaPublicidad {
  0% {
    transform: translateX(-100%); }
  20% {
    transform: translateX(0%);
    transform: rotateZ(50deg); }
  40% {
    transform: translateY(-300%); }
  70% {
    transform: translateY(0%);
    transform: rotateZ(-50deg); }
  100% {
    transform: translateY(-300%); } }
